.auth{
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.greatings{
    margin-right: 15px;
}

.logout{
    color: blueviolet;
}