.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding: 5px 15px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}
.nav a.active {
    color: gold;
    font-size: 40px;
}