.users{
  padding: 10px;
}

.showMore_Button{
  display: block;
  margin: auto;
  padding: 5px 25px;
}

.activePage{
  font-weight: bold;
  color:white;
}
span{
  display: inline-block;
  margin-left: 3px;
}