.dialogs{
    display: grid;
    grid-template-columns: 100px 1fr;
    min-height: 100%;

    border-bottom: 1px solid green;
}

.dialogItems{
    border-right: 1px solid green;
}

.dialogItem.active{
    color: gold;
}

.dialogMessages{

}