a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
            "head head"
            "nav main";
}

header{
    grid-area: head;
    background-color: #124512;
}

nav{
    grid-area: nav;
    background-color: #514321;
}

main{
    grid-area: main;
    background-color: #f2351d;
}
